body{
}
#restaurant {
  height: 280px;
  overflow-x:hidden;
  white-space: nowrap;
}

header {
  background-color: black;
  height: 100px;
  padding: 15px;
  vertical-align: middle;
  color: white;
  padding-bottom: 15px;
}
#header a:link{padding-bottom: 15px;}

#title {
  text-align: center;
}
#content{
  margin: 15px;
}
.h2, h2 {
    font-size: 30px;
    text-align: center;

}

/*h5 {
  margin: 15px;
}*/
#AddRestaurant{
  padding-left: 25px;
}

#Sign_in_links{
  padding-right: 15px;
  padding-left: 10px;
  float: right;
  padding-bottom: 15px;
  vertical-align: middle;
}

#restaurant_body{
  padding: 10px;
}
#restaurant_label{
  color: #f5f5f5;
  text-decoration: none;
  padding-right: 8px;
  background-color: #5aafad;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: center;
  padding: 5px;
  font-size: 18px;
}

#restaurant_label a:link { color: whitesmoke; }
#restaurant_label a:visited { color: whitesmoke; }
#restaurant_label a:hover { color: whitesmoke; }
#restaurant_label a:active { color: whitesmoke; }

a {
    color: #E1192C;
    font-family: arial;
    text-transform: uppercase;
    font-size: 12px;
}
